.inline-block {display: inline-block;
vertical-align: top; }

.logo {width: 23%;
padding: 1%;
text-align: center;}

nav {width: 73%;
padding: 1%;
background-color: lightblue;}

ul {width: 50%;
margin-left: auto;}

.heroImg {height: 600px;
padding: 25px;}

.content {width: 500px;
margin: 0 auto;
font-family: Arial, Helvetica, sans-serif;}

footer {background-color: #373738;
padding: 15px;}

footer ul {display: inline-block;
    vertical-align: top;
    padding: 100px;}

button {color: navy;
box-shadow: 2px 5px;}